<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameplay Data</title>
</head>
<body>
    <h1>Gameplay Data</h1>
    <hr />

        <div>
            <p><strong>Game Started :</strong> <%= gameData.gameStarted %></p>
            <p><strong>Game Paused :</strong> <%= gameData.gamePaused %></p>
            <p><strong>Game Stopped :</strong> <%= gameData.gameStopped %></p>
            <p><strong>Game Completed :</strong> <%= gameData.gameCompleted %></p>
            <p><strong>Main Timer :</strong> <%= gameData.mainTimer %></p>
            <p><strong>Current Time :</strong> <%= gameData.currentTime %></p>
            <p><strong>Current Env ID :</strong> <%= gameData.currentEnvID %></p>
        </div>
        <hr />
    
</body>
</html>
