<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players Data</title>
</head>
<body>
    <h1>Data</h1>
    <hr />

    <% playersData.forEach(player => { %>
        <div>
            <h2>Player ID: <%= player.playerID %></h2>
            <p><strong>Name :</strong> <%= player.name %></p>
            <p><strong>Health :</strong> <%= player.health %></p>
            <p><strong>Team ID :</strong> <%= player.teamID %></p>
            <p><strong>Kill Points :</strong> <%= player.killpoints %></p>
            <p><strong>Reset Point ID :</strong> <%= player.resetpointID %></p>
        </div>
        <hr />
    <% }); %>
    
</body>
</html>
